body {
  background-color: #282c34;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.input-wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
}

.main-input {
  width: 100%;
  font-size: 23px;
  padding: 0;
  margin: 0;
  z-index: 1;
  height: 100vh;
  padding: 9px;
}

.hidden {
  font-size: 23px;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 9999px;
}

.autocomplete {
  pointer-events: none;
  position: absolute;
  color: grey;
  background: transparent;
  border: none;
  z-index: 2;
}
